.contenedor{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadro{
  width: 60%;
  height: 300px;
  border: 2px solid #20517E;
  border-radius: 5px;
  margin-top: 100px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  gap:10px;
}

.clboton{
  width: 80%;
  height: 50px;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  border: none;
  cursor: pointer;
}


.botonrojo{
  background: #E71D3E;
}
.botonrojo:hover{
  box-shadow: 2px 2px 20px 3px #E71D3E;
}

.botonazul{
  background: #1A78C8;
}
.botonazul:hover{
  box-shadow: 2px 2px 20px 3px #1A78C8;
}

.dispo{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}
.dispo1{
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dispo2{
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(40, 86, 124, 0.75);
}
.myoverlayrojo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(231, 29, 62, 0.75);
}
